.breed-care {
  background-image: url("../img/bg-grey-cat-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.breed-care__title {
  font-family: "Yeseva One", "Georgia", serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  color: $basic_white;
}
