.footer {
  width: 100%;
  min-height: 156px;
  background-color: $basic_dark_grey;
}

.footer__link {
  text-decoration: none;
  font-size: 14px;
  line-height: 27px;
  color: $special_light_beige_faded;
}
