// Colors

$basic_dark_grey: #151313;
$basic_graphite_grey: #1f1c1d;
$basic_gold: #a07b50;
$basic_light_grey: #ddd0c3;
$basic_light_beige: #fdf2e6;
$basic_white: #ffffff;

$special_black_faded: rgba(0, 0, 0, 0.3);
$special_dark_grey: #181617;
$special_gold_faded_light: rgba($basic_gold, 0.94);
$special_gold_faded_low_med: rgba($basic_gold, 0.41);
$special_gold_faded_med: rgba($basic_gold, 0.47);
$special_gold_faded_strong: rgba($basic_gold, 0.27);
$special_light_beige_faded: rgba($basic_light_beige, 0.83);
$special_white_faded_light: rgba($basic_white, 0.72);
$special_white_faded_med: rgba($basic_white, 0.61);
$special_white_faded_strong: rgba($basic_white, 0.2);
